<ion-content class="ion-padding">
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
            </ion-item>
            <ion-button (click)="login()" expand="block" fill="clear" shape="round" type="submit">
                Login
            </ion-button>
            <div style="text-align: center;">
                <p [routerLink]="['/register']">Regidter</p>
                <p [routerLink]="['/login-admin']">admin</p>
            </div>
        </ion-list>
    </ion-card>
</ion-content>